      .bg-light{
        background-color: #09234a!important;
      }
      .navbar{
        --bs-navbar-brand-color: var(--bs-tertiary-bg);
        --bs-navbar-brand-hover-color: #4a8ff4;
      }
      .nav-item a{
        color: white !important;
      }
      .nav-item :hover{
        color: #4a8ff4 !important;
        transform: translateY(-2px);
        transition: 0.2s ease;
      }
      .navbar-toggler{
        background-color:#4a8ff4;
      }
      .btn-danger,.btn-primary{
        --bs-btn-color: white;
        --bs-btn-border-color: white;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #4a8ff4;
        --bs-btn-hover-border-color: #4a8ff4;
        background:#09234a;
      }
      .btn-outline-primary{
        --bs-btn-color: white;
        --bs-btn-border-color: white;
        --bs-btn-hover-bg: #09234a;
        --bs-btn-hover-border-color:white;
        background:#4a8ff4;
      }
      .btn-outline-secondary {
        color: #4a8ff4;
        border-color: #4a8ff4;
        --bs-btn-hover-bg:#4a8ff4;
        --bs-btn-hover-color: #000000;
      }
      /* CSS additionnel pour centrer la recherche sur grands écrans */
      .search-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1; /* Prend toute la largeur disponible */
      }
      .offcanvas-body {
        display: flex;
        flex-direction: column;
        height: 100vh; /* Take full height of the viewport */
      }
      .buy {
        margin-top: auto; /* Push this section to the bottom */
        position: sticky;
        bottom: 0; /* Stick to the bottom of the sidebar */
      }
      .nav-item {
        margin-right: 10px;
      }
      .nav-item a {
        text-decoration: none;
        color: black;
      }

      @media screen and (max-width: 799px) {
        /* Icône de recherche et hamburger sur petit écran */
        .navbar .d-flex {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }

        .navbar .btn-outline-secondary {
          margin-right: 10px;
        }
      }

      @media screen and (min-width: 800px) {
        /* Cacher l'icône de recherche et hamburger sur grand écran */
        .navbar .navbar-toggler {
          display: none;
        }
        .navbar .btn-outline-secondary {
          display: none;
        }
      }