<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/style/chat.css" />
    <title>Chat</title>
  </head>
  <body>
    <div id="navContainer"></div>

    <div class="container" style="height: 100vh">
      <div class="row">
        <div id="alertContainerMessage"></div>
        <!-- Ajout de la div pour le message de ban -->
        <div
          id="banMessage"
          class="alert alert-danger text-center"
          style="display: none"
        >
          <h3>Vous êtes banni du chat</h3>
          <p>Vous ne pouvez plus envoyer ni recevoir de messages.</p>
        </div>
        <!-- Liste des contacts -->
        <div class="mb-2">
          <button class="btn btn-outline-primary" onclick="goBack()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-arrow-left"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"
              />
            </svg>
          </button>
        </div>

        <div class="col-md-4 contact-list-container">
          <h2>Mes contacts</h2>
          <div class="card">
            <div class="card-body">
              <ul class="contact-list" id="userContact">
                <!-- ici est display les contacts -->
              </ul>
            </div>
          </div>
        </div>

        <!-- Div pour le chat -->
        <div class="col-md-8 chat-container" id="chat-container">
          <h2 id="chat-header"></h2>
          <div class="card" id="chat-card">
            <div class="card-header" id="chat-headerText"></div>
            <div class="card-body" id="zoneMessage">
              <!-- ici sont display les messages -->
            </div>
            <div class="card-footer">
              <form id="messageForm">
                <input
                  type="textarea"
                  id="messageValue"
                  placeholder="Message"
                  required
                />
                <button type="submit" id="sendMessage">Envoyer</button>
              </form>
            </div>
          </div>
          <div>
            <button class="back-button mt-3" onclick="showContacts()">
              Retour
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/scipt/managePanier.js"></script>
    <script src="../assets/scipt/checkLog.js"></script>
    <script src="../assets/scipt/navbar-init.js"></script>
    <script src="../assets/scipt/message.js"></script>
  </body>
</html>
