<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login/Signup Form</title>
    <link rel="stylesheet" href="../assets/style/login.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- ajouter la navbar -->
    
    <div class="auth-container">
      <div class="form-toggle">
        <button id="showLogin" class="active">Login</button>
        <button id="showRegister">Register</button>
      </div>
  
      <div class="form-wrapper">
        <!-- Login Form -->
        <form id="loginForm" class="auth-form active">
          <h2>Welcome Back</h2>
  
          <div class="input-box">
            <i class="bx bxs-user"></i>
            <input
            type="text"
            placeholder="Usermail"
            id="logmail"
            autocomplete="current-password"
            required
          />
          </div>
  
          <div class="input-box">
            <i
            style="cursor: pointer"
            onclick="togglePassword('loginPassword', 'loginShowPassword')"
            id="loginShowPassword"
            class="bx bxs-lock-alt"
          ></i> 
            <input
            type="password"
            placeholder="Password"
            autocomplete="current-password"
            id="loginPassword"
            required
          />
          </div>
          <a href="#" class="forgot-link">Forgot Password?</a>
          <button type="submit" class="btn">Login</button>
        </form>
  
        <!-- Register Form -->
        <form id="registerForm" class="auth-form">
          <h2>Create Account</h2>
  
          <div class="input-box">
            <input type="text" placeholder="Nom" id="Nom" required />
            <i class="bx bxs-user"></i>
          </div>
  
          <div class="input-box">
            <input type="text" placeholder="Prenom" id="Prenom" required />
            <i class="bx bxs-user"></i>
          </div>
  
          <div class="input-box">
            <input
              type="email"
              placeholder="Email"
              autocomplete="current-password"
              id="registermail"
              required
            />
            <i class="bx bxs-envelope"></i>
          </div>
  
          <div class="input-box">
            <input
              type="password"
              placeholder="Password"
              id="registerPassword"
              autocomplete="current-password"
              required
            />
            <i
              style="cursor: pointer"
              onclick="togglePassword('registerPassword', 'registerShowPassword')"
              id="registerShowPassword"
              class="bx bxs-lock-alt"
            ></i>
          </div>
          <div class="input-box">
            <input
              type="password"
              placeholder="Confirm Password"
              id="confirmPassword"
              autocomplete="current-password"
              required
            />
            <i
              style="cursor: pointer"
              onclick="togglePassword('confirmPassword', 'confirmShowPassword')"
              id="confirmShowPassword"
              class="bx bxs-lock-alt"
            ></i>
          </div>
  
          <button type="submit" class="btn">Register</button>
        </form>
      </div>
    </div>
  
    <script>
      const loginForm = document.getElementById("loginForm");
      const registerForm = document.getElementById("registerForm");
      const showLogin = document.getElementById("showLogin");
      const showRegister = document.getElementById("showRegister");
  
      showLogin.addEventListener("click", () => {
        showLogin.classList.add("active");
        showRegister.classList.remove("active");
        loginForm.classList.add("active");
        registerForm.classList.remove("active");
      });
  
      showRegister.addEventListener("click", () => {
        showRegister.classList.add("active");
        showLogin.classList.remove("active");
        registerForm.classList.add("active");
        loginForm.classList.remove("active");
      });
    </script>
  </body>
  </html>
  