@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: repeating-conic-gradient(from 223deg, #1d1d1e, #265369 23.53%, #2d7fa8 39.92%, #36afeb 73.95%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 30px;
  width: 600px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  animation: fadeIn 1s ease;
}

.form-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-toggle button {
  flex: 1;
  padding: 10px;
  font-weight: 600;
  background: transparent;
  color: #fff;
  border: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}

.form-toggle button.active {
  border-bottom: 3px solid #36afeb;
  color: #36afeb;
}

.form-wrapper {
  position: relative;
}

.auth-form {
  display: none;
  flex-direction: column;
  animation: fadeInUp 0.6s ease;
}

.auth-form.active {
  display: flex;
}

.auth-form h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 25px;
}

.input-box {
  position: relative;
  margin: 0px 20px 20px 0px;
}

.input-box i {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 18px;
}

.input-box input {
  width: 94%;
  padding: 12px 12px 12px 40px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 16px;
  outline: none;
}

.input-box input::placeholder {
  color: #eee;
}

.forgot-link {
  color: #fff;
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: right;
}

.login-btn, .register-btn, .btn {
  width: 100%;
  padding: 12px;
  background-color: #79bde3;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #36afeb;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
}

.remember-me input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.remember-me label {
    color: #555;
    cursor: pointer;
    user-select: none;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
@media (max-width:768px){
    .auth-container{
        width: 360px;
    }
}



