/* Style général */
body {
    background-color: #ffffff;
    font-family: "Arial", sans-serif;
  }
  
  .profile-card {
    background: linear-gradient(282deg, white 44.96%, #70ccf9);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: auto;
  }
  
  .profile-card img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .profile-card .info p {
    font-size: 1.1em;
    margin-bottom: 15px;
  }
  
  .profile-card .info a {
    text-decoration: none;
    color: #36afeb;
    margin-left: 10px;
  }
  
  .profile-card .info a:hover {
    color: #09234a;
  }
  
  .actions a {
    text-decoration: none;
    color: #333;
    margin-bottom: 15px;
    font-size: 1.1em;
    transition: color 0.3s ease;
  }
  
  .actions a:hover {
    color: #36afeb;
  }
  
  .actions a i {
    margin-right: 8px;
  }
  
  .actions {
    margin-top: 30px;
  }

  input{
    border: solid  #09234a 1px;
    border-radius: 5px;
    padding: 5px;
  }
  
  .settings-icon {
    position: fixed;
    top: 65px;
    right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
  }
  /* Responsivité pour les petits écrans */
  @media (max-width: 576px) {
    .profile-card {
      padding: 15px;
    }
  
    .profile-card img {
      width: 120px;
      height: 120px;
    }
  
    .profile-card .info p {
      font-size: 1em;
    }
  
    .actions a {
      font-size: 1em;
    }
  }

  