/* Style général */
body {
    background-color: #ffffff;
    font-family: "Arial", sans-serif;
  }
  
  .profile-card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: auto;
  }
  
  .profile-card img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .profile-card .info p {
    font-size: 1.1em;
    margin-bottom: 15px;
  }
  
  .profile-card .info a {
    text-decoration: none;
    color: #007bff;
    margin-left: 10px;
  }
  
  .profile-card .info a:hover {
    color: #0056b3;
  }
  
  .actions a {
    text-decoration: none;
    color: #333;
    margin-bottom: 15px;
    font-size: 1.1em;
    transition: color 0.3s ease;
  }
  
  .actions a:hover {
    color: #007bff;
  }
  
  .actions a i {
    margin-right: 8px;
  }
  
  .actions {
    margin-top: 30px;
  }
  
  /* Responsivité pour les petits écrans */
  @media (max-width: 576px) {
    .profile-card {
      padding: 15px;
    }
  
    .profile-card img {
      width: 120px;
      height: 120px;
    }
  
    .profile-card .info p {
      font-size: 1em;
    }
  
    .actions a {
      font-size: 1em;
    }
  }

  
/* css page de commande user*/
.mb-5{
  margin: 3rem 0 !important;
}
tbody,td,th{
  border: none;
}
th{
  color: rgb(119, 119, 119);
}
.td_btn{
  display: flex;
  justify-content: center;
}
.btn-primary{
  background-color: rgb(177, 26, 34);
  border: none;
}
.btn-primary:hover{
  transition: 2sec;
  background-color: rgb(227, 121, 121);
  color: black;
}